.git
.gitignore
node_modules
.next
.turbo
.swc
pnpm-lock.yaml
.pnpm-store
coverage
dist
*.log
.DS_Store
*.env
apps/backend/public/version.txt
apps/backend/public/client-metadata*.json
apps/web/.next
tmp