logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage
node_modules
dist
build
dist-ssr
*.local
.env

!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.nvmrc
.vscode
/generated/prisma
ecosystem.config.*
script*.sql
prisma/generated
src/components
src/layouts
src/services/emails/templates

src/script.ts