@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

h1 {
  	@apply text-4xl font-bold;
	font-family: 'Lato';
}

h2 {
 	@apply text-3xl font-bold;
	font-family: 'Lato';
}

h3 {
  	@apply text-2xl font-bold;
	font-family: 'Lato';
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container h1 {
  	margin-top: 20px;
	margin-bottom: 20px
}

.editor-container h2 {
	margin-top: 16px;
  	margin-bottom: 16px
}

.editor-container h3 {
	margin-top: 12px;
  	margin-bottom: 12px
}

.editor-container h4 {
	margin-top: 9px;
  	margin-bottom: 9px
}

.editor-container h5 {
	margin-top: 7px;
  	margin-bottom: 7px
}

.editor-container p {
	margin-top: 5px;
	margin-bottom: 5px
}

h2.fancy, .ck.ck-button.ck-heading_heading2_fancy {
	color: #ff0050;
	font-size: 17px;
}

.transparent-button {
	background-color: transparent;
	color: gray;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.round-background {
	border-radius: 50%;
	padding: 7px 7px;
}

.transparent-button:hover {
	background-color: rgb(193, 193, 193);
}

.center-column {
	width: 800px;
}

.blue-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    transition: background-color 200ms;
    background-color: #3B82F6;
    color: white;
    cursor: pointer;
}

.blue-button:hover {
    background-color: #2563EB;
}

.editor-container a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.editor-container a:hover {
    text-decoration: underline;
}

.editor-container {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.editor-container ul {
	padding-left: 1.5rem;
}

.editor-container li {
    padding-left: 0.5rem; /* Space for custom bullet */
	margin-bottom: 0.5rem;
}

.large-btn {
	border: 3px solid rgba(0,0,0,0);
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 8px 20px;
	text-transform: inherit;
	vertical-align: top;
	white-space: normal;
	word-break: initial;
	text-decoration: none;
	letter-spacing: inherit;
	border-radius: 30px;
	line-height: 1.42857143;
	background-color: #242c4f;
	color: #fff;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.large-btn:hover {
	background-color: #1b203a;
	color: #e0e0e0;
}


.small-btn {
	border: 3px solid rgba(0,0,0,0);
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
	padding: 1px 5px;
	text-transform: inherit;
	vertical-align: top;
	white-space: normal;
	word-break: initial;
	text-decoration: none;
	letter-spacing: inherit;
	border-radius: 15px;
	line-height: 1.42857143;
	background-color: #242c4f;
	color: #fff;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.small-btn:hover {
	background-color: #1b203a;
	color: #e0e0e0;
}


.subscription-btn {
	border: 3px solid transparent;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 12px 28px;
	vertical-align: top;
	white-space: nowrap;
	word-break: initial;
	text-decoration: none;
	letter-spacing: 0.5px;
	border-radius: 30px;
	line-height: 1.42857143;
	background-color: #242c4f;
	color: #fff;
	transition: all 0.3s ease;
}

.subscription-btn:hover {
	background-color: #1b203a;
	color: #e0e0e0;
	transform: scale(1.05);
}

.styled-list {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.styled-list li {
    position: relative; /* Position relative for custom bullet */
    padding-left: 1.5rem; /* Space for custom bullet */
    padding: 1rem; /* Padding inside the box */
    margin-bottom: 0.5rem; /* Space between list items */
    font-size: 1rem; /* Base font size */
    line-height: 1.5; /* Line height for readability */
    background-color: #f8f9fa; /* Background color of the box */
    border: 1px solid #e0e0e0; /* Border of the box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.panel {
	border: 1px solid #ddd;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: 10px 0;
}
  
.fixed-bottom-right {
	position: fixed;
	bottom: 30px; /* Adjust as needed */
	right: 30px;  /* Adjust as needed */
}


.gray-button {
	background-color: #E5E7EB; /* Equivalent to bg-gray-200 */
	border-radius: 0.25rem; /* Equivalent to rounded */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	color: #767a83; /* Equivalent to text-gray-400 */
	padding-left: 0.5rem; /* Equivalent to px-2 */
	padding-right: 0.5rem; /* Equivalent to px-2 */
}
  
.gray-button:hover {
	background-color: #E5E7EB; /* Keep the hover background color the same */
	transform: scale(1.05);
}

.panel {
    background-color: #ffffff; /* bg-white */
    border-radius: 0.5rem; /* rounded-lg (lg: large) */
	padding: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05); /* shadow-lg */
}