@tailwind base;
@tailwind components;
@tailwind utilities;

$text: #181b23;
$background: #f8f8f9;
$primary: #455dc0;
$secondary: #beaccc;
$accent: #8790b0;

:root {
  --text: #{$text};
  --background: #{$background};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --background-dark: #{darken($background, 20%)};
  --primary-dark: #{darken($primary, 20%)};
  --secondary-light: #{lighten($secondary, 20%)};
  --secondary-xlight: #{lighten($secondary, 23%)};
  --secondary-lighter: #{lighten($secondary, 25%)};
  --primary-light: #{lighten($primary, 20%)};
  --accent-dark: #{darken($accent, 20%)};
  --accent-light: #{lighten($accent, 20%)};
  --text-light: #{lighten($text, 20%)};
  --text-lighter: #{lighten($text, 50%)};
  font-optical-sizing: auto;
  font-style: normal;
}

* {
	border-color: $accent;
}

.content {
	font-size: 1.05em;
}

.title {
	font-family: var(--font-merriweather);
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-merriweather);
	font-weight: 700;
}

.content h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.logo {
	line-height: 1;
	font-weight: 500;
}

.text-link {
    color: var(--primary);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.link a {
    color: var(--primary);
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.content a {
    color: var(--primary);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: larger;
}

h4 {
	font-size: large;
}

.content h1 {
	margin-top: 20px
}

.content h2 {
  	margin-top: 16px
}

.content h3 {
  	margin-top: 14px
}

.content h4 {
  	margin-top: 10px
}

.content h5 {
  	margin-top: 10px
}

.content p, ul {
	margin-top: 10px;
}

.content blockquote {
	margin: 0;
	margin-left: 10px;
	margin-top: 10px;
	color: rgb(101, 103, 107);
	border-left-color: rgb(206, 208, 212);
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: 16px;
	background-color: var(--secondary-xlight)
}

ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 0px;
}

li {
    margin-top: 10px;
    line-height: 1.6;
}

ol {
    list-style-type: decimal;
    margin: 20px 0;
    padding-left: 40px;
}

.gray-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background);
}
  
.gray-btn:hover {
	background-color: var(--primary-dark);
}

.gray-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.gray-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.gray-btn.toggled {
	background-color: var(--primary-dark)
}

.create-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.create-btn:hover {
	background-color: var(--primary-dark)
}
  
.small-btn {
	padding-top: 0.01rem;
	padding-bottom: 0.01rem;
	padding-left: 0.5rem; 
	padding-right: 0.5rem;
	border-radius: 0.25rem;
	font-size: 14px; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.small-btn:hover {
	background-color: var(--primary-dark);
}

.small-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.small-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.subscription-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.subscription-btn:hover {
	background-color: var(--primary-dark);
}

.subscription-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.subscription-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.article-edit {
	border-width: 1px;
	border-radius: 4px;
}

.article-edit.selected {
	border-width: 2px;
}

.panel {
	border: 1px solid var(--accent);
	padding: 0px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.categories-panel {
	border: 1px solid var(--accent);
	padding: 0px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
  
.fixed-bottom-right {
	position: fixed;
	bottom: 30px; /* Adjust as needed */
	right: 30px;  /* Adjust as needed */
}

.scale-btn {
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scale-btn:hover {
	transform: scale(1.05);
	z-index: 0;
}


.sidebar-btn {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 0.375rem;
    display: block;
    padding: 0.5rem 0.25rem;
	align-items: center;
}

.sidebar-btn:hover {
    background-color: var(--secondary-light);
}

.sidebar-btn:disabled {
	background-color: var(--secondary-light);
	color: var(--accent);
	opacity: 0.6;
}

.sidebar-btn:disabled:hover {
	background-color: var(--secondary-light);
	color: var(--accent);
	opacity: 0.6;
}

.subcategories-dropdown {
	border: 1px solid var(--primary);
	border-radius: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: center;
}

.subcategories-dropdown:hover {
	background-color: var(--secondary-light);
}

.main-feed span {
	padding-bottom: 2px;
}

.main-feed button {
	padding-bottom: 8px;
	padding-top: 8px;
}

.main-feed.selected-option-text {
	border-bottom: 4px solid var(--primary);
	border-radius: 2px
}

.main-feed.not-selected-option:hover {
	background: var(--secondary-light);
}

.filter-feed button {
	padding-bottom: 3px;
	padding-top: 3px;
	border-bottom-width: 2px;
	border-color: transparent;
}


.filter-feed.selected-option {
	border-color: $primary;
}


.filter-feed.not-selected-option:hover {
	background: var(--secondary-light);
}

.search.selected-option {
	background-color: var(--secondary-light);
	border-bottom: 3px solid var(--accent-dark);
}

.reaction-btn {
	font-size: small;
	color: var(--text-lighter);
	padding: 5px;
}

.reaction-btn:hover {
	background: var(--accent-light);
	padding: 5px;
	border-radius: 15px
}

.reaction-btn:disabled:hover {
	color: var(--text-lighter);
	background: transparent;
}

.topbar-btn {
	cursor: pointer;
	padding: 4px;
	border-radius: 0.5rem;
}

.topbar-btn:hover {
	background-color: var(--secondary-light);
}

.topbar-btn:hover:disabled {
	background-color: transparent;
	cursor: default
}

.topbar-btn:disabled {
	background-color: transparent;
	cursor: default
}

.comments-panel {
    position: fixed;
	top: 4rem;
    right: 0;
    max-width: 400px;
    height: calc(100vh - 4rem);
    background-color: rgba($background, 0.6);
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem; /* Add some padding */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow to separate from main content */
    z-index: 50; /* Ensure it stays on top of other content */
}


.search-sidebar {
    position: fixed;
	top: 4rem;
    right: 0;
    width: 400px;
    height: calc(100vh - 4rem);
    background-color: rgba($background, 0.6);
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow to separate from main content */
    z-index: 50; /* Ensure it stays on top of other content */
}


.create-entity-panel {
	border: 1px solid var(--accent);
	border-radius: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: center;
}


.route-edit-btn {
	cursor: pointer;
	padding: 2px;
	border-radius: 2rem;
}

.route-edit-btn:hover {
	background-color: var(--secondary-light);
}

.route-edit-btn:hover:disabled {
	background-color: transparent;
	cursor: default
}

.route-edit-btn:disabled {
	background-color: transparent;
	cursor: default
}

.subcategory:hover {
	color: $primary;
	border-color: var(--primary-dark)
}

.view-more {
	color: $primary;
}

.view-more:hover {
	text-decoration: underline
}

.info-panel {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 8px;
	padding: 6px;
	background-color: var(--background);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	z-index: 10;
	border-width: 1px;
	border-color: var(--accent);
	color: $text;
}

.auth-btn {
	border-radius: 0.25rem;
	background-color: transparent; 
	font-size: medium;
	cursor: pointer; 
	color: var(--text)
}
  
.auth-btn:hover {
	background-color: var(--secondary-light);
}

.reply-btn {
	color: var(--text-lighter);
	font-size: small;
	margin-left: 0.5rem;
}

.reply-btn:hover {
	color: var(--text)
}

.topbar-container {
	border-bottom: 1px solid;
	border-color: $accent;
	background-color: var(--background);
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10
}

.topbar-container-transparent {
	border-bottom: 1px solid;
	background-color: rgba($background, 0.5);
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10
}

.explainable p {
	margin-top: 5px;
	margin-bottom: 5px;
}


.fancy-text {
	//text-decoration: underline;
}

.fancy-text:hover {
	color: $primary
}

/*.fancy-text {
    position: relative; 
    display: inline-block;
}

.fancy-text::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%; 
    height: 3px;
    background: linear-gradient(90deg, var(--primary) 25%, var(--text) 25%, var(--text) 50%, var(--primary) 50%, var(--primary) 75%, var(--text) 75%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: gradient-animation 1s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}*/
  

.content-container {
	border: 1px solid;
	border-color: $accent;
}


i.cabildo {
	background-image: url(../../public/cabildo-icon-simple.svg);
    background-size: 24px 24px; /* Set width and height */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    width: 24px; /* Set the container's width */
    height: 24px; /* Set the container's height */
}

.custom-input {
    display: block;
    width: 100%;
    border-width: 1px;
    padding: 9px 12px;
    font-size: 0.875rem;
    outline-width: 2px;
}

.custom-input::placeholder {
    color: #6b7280;
}

.diffNew {
    position: relative;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: green;
    padding-left: 4px;
}

.diffNew::before {
    content: "Nuevo";
    position: absolute;
    left: -83px;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
	width: 75px;
	text-align: center;
}

.diffRemoved {
    position: relative;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: red;
    padding-left: 4px;
}

.diffRemoved::before {
    content: "Eliminado";
    position: absolute;
    left: -83px;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
	width: 75px;
	text-align: center;
}

.diffModified {
    position: relative;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: orange;
    padding-left: 4px;
}

.diffModified::before {
    content: "Modificado";
    position: absolute;
    left: -83px;
    top: 50%;
    transform: translateY(-50%);
    background-color: orange;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
	width: 75px;
	text-align: center;
}

.author {
    position: relative;
}

.author::before {
    content: var(--author-name, "Autor");
    position: absolute;
	right: 100%;
	margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: $text;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
	text-align: center;
	height: 24px;
	border-width: 1px;
	border-color: $accent;
    width: calc(20px + 6.8px * var(--authors-width)); /* Increase height on hover */
}


.filter-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: transparent; 
	cursor: pointer; 
	color: var(--text-light);
}


.filter-btn:hover {
	background-color: var(--secondary-light);
}


.filter-btn.toggled {
	background-color: var(--secondary-light)
}


table {
	width: 100%;
}

td {
	padding: 10px;
	border-width: 1px;
	text-align: left;
}
th {
}



.link2 {
	text-decoration: none;
	transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
	text-decoration: underline;
}
  
.link2:hover {
	color: $primary; /* Equivalent to Tailwind's blue-500 */
}
  



.article-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	cursor: pointer;
}
  
.article-btn:hover {
	background-color: var(--secondary-light);
}

.article-btn:disabled {
	color: var(--text-light);
	opacity: 0.6;
}

.article-btn:disabled:hover {
	color: var(--text-light);
	opacity: 0.6;
}

.article-btn.toggled {
	border-bottom-width: 2px;
}