@tailwind base;
@tailwind components;
@tailwind utilities;

$text: #181b23;
$background: #f8f8f9;
$primary: #455dc0;
$secondary: #beaccc;
$accent: #8790b0;

:root {
  --text: #{$text};
  --background: #{$background};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --background-dark: #{darken($background, 20%)};
  --primary-dark: #{darken($primary, 20%)};
  --secondary-light: #{lighten($secondary, 20%)};
  --secondary-xlight: #{lighten($secondary, 23%)};
  --primary-light: #{lighten($primary, 20%)};
  --accent-dark: #{darken($accent, 20%)};
  --text-light: #{lighten($text, 20%)};
}


.content {
	/*font-family: 'Lato';*/
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.text-link {
    color: var(--primary);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.link a {
    color: var(--primary);
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.content a {
    color: var(--primary);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bodoni Moda SC", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: larger;
}

h4 {
	font-size: large;
}

.content h1 {
	margin-bottom: 20px
}

.content h2 {
  	margin-bottom: 16px
}

.content h3 {
  	margin-bottom: 14px
}

.content h4 {
  	margin-bottom: 10px
}

.content h5 {
  	margin-bottom: 10px
}

.content p, ul {
	margin-bottom: 10px;
}

.content blockquote {
	margin: 0;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	color: rgb(101, 103, 107);
	border-left-color: rgb(206, 208, 212);
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: 16px;
	background-color: var(--secondary-xlight)
}

.content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
}

.content li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: var(--accent);
}

.content ol {
    list-style-type: decimal;
    margin: 20px 0;
    padding-left: 40px;
}

.gray-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.gray-btn:hover {
	background-color: var(--primary-dark);
}

.gray-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.gray-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}
  
.small-btn {
	padding-top: 0.01rem;
	padding-bottom: 0.01rem;
	padding-left: 0.5rem; 
	padding-right: 0.5rem;
	border-radius: 0.25rem;
	font-size: medium; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.small-btn:hover {
	background-color: var(--primary-dark);
}

.small-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.small-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.subscription-btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem; 
	padding-right: 1rem;
	border-radius: 0.25rem; 
	background-color: var(--primary); 
	cursor: pointer; 
	color: var(--background)
}
  
.subscription-btn:hover {
	background-color: var(--primary-dark);
}

.subscription-btn:disabled {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.subscription-btn:disabled:hover {
	background-color: var(--background-dark);
	color: var(--accent);
	opacity: 0.6;
}

.panel {
	border: 1px solid var(--accent);
	padding: 0px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}
  
.fixed-bottom-right {
	position: fixed;
	bottom: 30px; /* Adjust as needed */
	right: 30px;  /* Adjust as needed */
}

.scale-btn {
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scale-btn:hover {
	transform: scale(1.05);
	z-index: 0;
}


.h-screen-minus-16 {
	height: calc(100vh - 4rem);
}


.sidebar-btn {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 0.375rem; /* rounded-lg */
    display: block;
	margin-bottom: 15px;
    padding: 0.5rem 0.25rem;
}

.sidebar-btn:hover {
    background-color: var(--secondary-light);
}

.sidebar-btn:disabled {
	background-color: var(--secondary-light);
	color: var(--accent);
	opacity: 0.6;
}

.sidebar-btn:disabled:hover {
	background-color: var(--secondary-light);
	color: var(--accent);
	opacity: 0.6;
}

.search-result {
	border: 1px solid var(--accent);
	border-radius: 0.25rem;
	padding-left: 0.5rem; 
	padding-right: 0.5rem; 
	width: 16rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: center;
}

.search-result:hover {
	background-color: var(--secondary-light);
}

.selected-search-option {
	background-color: var(--secondary-light);
	border-bottom: 3px solid var(--accent-dark)
}

.not-selected-search-option {
}

.not-selected-search-option:hover {
}

.reaction-btn {
	font-size: small;
	color: var(--text-light);
}

.reaction-btn:hover {
	transform: scale(1.05);
}

.reaction-btn-selected {
	font-size: small;
	color: var(--primary)
}

.reaction-btn-selected:hover {
	transform: scale(1.05);
}

.topbar-btn {
	cursor: pointer;
	padding: 8px;
	border-radius: 0.5rem;
}

.topbar-btn:hover {
	background-color: var(--secondary-light);
}

.topbar-btn:hover:disabled {
	background-color: transparent;
	cursor: default
}

.topbar-btn:disabled {
	background-color: transparent;
	cursor: default
}

.comments-panel {
    position: fixed;
	top: 4rem;
    right: 0;
    width: 22%; /* Adjust width as needed */
    height: calc(100vh - 4rem);
    background-color: rgba(255, 255, 255, 0.7); /* Transparent background */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem; /* Add some padding */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow to separate from main content */
    z-index: 1000; /* Ensure it stays on top of other content */
}